In [50]:
import pandas as pd

In [56]:
data=pd.read_excel("TEST.xlsx",sheet_name="Sheet6")

In [57]:
data

      CUS_COST_CENTER_TO_CCAT_XREF
0   CONTRCT_F_BYCSUBC_CON_INT_XREF
1    CCAT_CNTRY_BCHNL_TO_COMP_XREF
2   CCAT_CNTRY_BCHNL_POAMT_PFLG_XR
3      CLIENT_CAT_IND_TO_CCAT_XREF
4       CCAT_BUY_CHNL_TO_COMP_XREF
5   SUP_SCAT_BUY_CHNL_TO_COMP_XREF
6   CCAT_CNTRY_POAMT_PREF_FLG_XREF
7         CUS_SUP_EID_TO_CCAT_XREF
8    SCAT_BUY_CHANNEL_TO_COMP_XREF
9          HIERARCHY20_BY_CAT_XREF
10   CUS_MAT_SUP_UOM_TO_MASTR_XREF
11  PREF_SUP_IND_CCAT_TO_PFLG_XREF
12  SUP_CCAT_CNTRY_BCHNL_COMP_XREF
13    CCAT_SUP_ID_TO_PREF_SUP_XREF

In [58]:
data1=pd.read_excel("TEST.xlsx",sheet_name="Sheet5")

In [59]:
data1

          OPS                   SPEND_HEADER  487394407
0         OPS                      INV_SPEND  370616557
1         OPS                      SPEND_STG  354233712
2         OPS                      PCD_SPEND   67005170
3         OPS                       PO_SPEND   28923546
4         OPS                      LOG_SPEND   15345725
..        ...                            ...        ...
334  RPT_XREF  CUS_MAT_SUP_UOM_TO_MASTR_XREF          0
335  RPT_XREF       CUS_IDX_NM_TO_INDEX_XREF          0
336  RPT_XREF    CUS_LOC_CD_TO_LOCATION_XREF          0
337  RPT_XREF     CUS_SUP_EID_TO_DIRECT_XREF          0
338       OPS           LU_DISPLAY_REFERENCE          0

[339 rows x 3 columns]

In [60]:
list=[]
k=0
for j in range(len(data['CUS_COST_CENTER_TO_CCAT_XREF'])):
        for i in range(len(data1['SPEND_HEADER'])):
            if data['CUS_COST_CENTER_TO_CCAT_XREF'].iloc[j] == data1['SPEND_HEADER'].iloc[i]:
                print(data1[487394407].iloc[i])

1
0
0
41545
3262
20449
0
0
160
0
0
1101958
8928
261

In [38]:
data1[487394407]

0      370616557
1      353896610
2       65964632
3       28923546
4       15345725
         ...
335            0
336            0
337            0
338            0
339            0
Name: 487394407, Length: 340, dtype: int64